{% if site.data.employers[include.employer] %}
<div style="width: 100%; height: 100pt">
  <div style="width: 70%; float: left">
    <h3>{{site.data.employers[include.employer].title}}</h3>
    <i>
      {{site.data.employers[include.employer].start}} -
      {{site.data.employers[include.employer].end}}
    </i>
  </div>
  <div style="width: 30%; float: right; text-align: right">
    <h4>{{site.data.employers[include.employer].name_raw}}</h4>
    <td>{{site.data.employers[include.employer].location}}</td>
  </div>
</div>
{% endif %}
