{% if site.data.employers[include.employer] %}
<table class="tsum">
  <tr>
    <td>
      <h3>{{site.data.employers[include.employer].title}}</h3>
    </td>
    <td style="text-align: right">
      <h4>{{site.data.employers[include.employer].name_raw}}</h4>
    </td>
  </tr>
  <tr>
    <td>
      <i>
        {{site.data.employers[include.employer].start}} -
        {{site.data.employers[include.employer].end}}
      </i>
    </td>
    <td style="text-align: right">{{site.data.employers[include.employer].location}}</td>
  </tr>
</table>
{% endif %}
