.row {
  display: flex;
}

.left-col {
  flex: 25%;
}

.right-col {
  flex: 75%;
  padding-left: 1em;
}

.page {
  &.full {
    float: left;
    padding-right: 10px;
    width: calc(100% - 100px);
  }
}
